= render "nav/main", :navigation => @navigation

.container
  %h1
    = t("static_pages.about.background")
  %p 
    = t("static_pages.about.background_text")
  %p
    = t("static_pages.about.background_text_2")
